.card-boughts {
  width: 100%;
  background-image: url("/backgroundCart.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.card-boughts__product-name {
  width: 80%;
  background-color: #231e1a;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-boughts__conteiner-data {
  background-color: #231e1a;
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}

.card-boughts__facture-button {
  background-color: #231e1a;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}
